<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:fullBackupContent="@xml/android_11_and_lower_backup_rules"
        android:dataExtractionRules="@xml/android_12_and_higher_backup_rules"
        android:supportsRtl="true">
        <activity
            android:name=".common.sso.SSOManagerActivity"
            android:exported="false"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:launchMode="singleTask" />
        <activity
            android:exported="true"
            android:name=".common.sso.SSOReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- These manifestPlaceholders in are defined in the application build.gradle -->
                <data
                    android:scheme="@string/STYTCH_PUBLIC_TOKEN"
                    android:host="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.b2c.AuthenticationActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- These manifestPlaceholders in are defined in the application build.gradle -->
                <data
                    android:scheme="@string/STYTCH_PUBLIC_TOKEN"
                    android:host="b2c-ui" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.b2b.B2BAuthenticationActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- These manifestPlaceholders in are defined in the application build.gradle -->
                <data
                    android:scheme="@string/STYTCH_PUBLIC_TOKEN"
                    android:host="b2b-ui" />
            </intent-filter>
        </activity>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
