name: Dependency Submission

on:
  workflow_dispatch:
  push:
    branches: [ 'main' ]

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v3
      with:
        build-scan-publish: true
        build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
        build-scan-terms-of-use-agree: "yes"
      env:
        STYTCH_PUBLIC_TOKEN: 'abc123'
        GOOGLE_OAUTH_CLIENT_ID: 'abc123'
        STYTCH_B2B_PUBLIC_TOKEN: 'abc123'
        STYTCH_B2B_ORG_ID: 'abc123'
        PASSKEYS_DOMAIN: 'abc123'
        STYTCH_UI_PUBLIC_TOKEN: 'abc123'
        UI_GOOGLE_CLIENT_ID: 'abc123'
       
        # Exclude all dependencies that originate solely in the following projects
        DEPENDENCY_GRAPH_EXCLUDE_PROJECTS: ':workbench-apps:consumerExampleApp|:workbench-apps:b2bExampleApp|:workbench-apps:uiworkbench'
       
