name: uiTests

on:
  workflow_dispatch:
  push:
    branches: [ master, main, dev ]
  pull_request:
    branches: [ master, main, dev ]
jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup java
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17

      - name: Gradle cache
        uses: gradle/gradle-build-action@v2
        
      - name: AVD cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: run ui tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew :ui:connectedCheck
        env:
          STYTCH_PUBLIC_TOKEN: 'abc123'
          GOOGLE_OAUTH_CLIENT_ID: 'abc123'
          STYTCH_B2B_PUBLIC_TOKEN: 'abc123'
          STYTCH_B2B_ORG_ID: 'abc123'
          PASSKEYS_DOMAIN: 'abc123'
          STYTCH_UI_PUBLIC_TOKEN: 'abc123'
          UI_GOOGLE_CLIENT_ID: 'abc123'
